.widgetContainerClosed{
    border-radius: 3rem;
    width: 3rem;
    height: 3rem;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 10rem;
    left: 0.5rem;
    z-index: 3;
    transition: 0.5s;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: #37474F;
}

.widgetContainerOpened{
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: #263238;
    border-radius: 0rem;
    width: 100%;
    height: 100%;
    top: 0rem !important;
    left: 0rem;
    z-index: 4;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.material-icons{
    color: #FAFAFA;
}