DANDO_VERSION
DANDO_PORT

DATABASE_HOST
DATABASE_PORT
DATABASE_USERNAME
DATABASE_PASSWORD
DATABASE_NAME

SMTP_HOST
SMTP_PORT
SMTP_USER
SMTP_PASSWORD
SMTP_FROM

OTP_TTL_MS
OTP_LENGTH
OTP_ALPHABET

JWT_EXPIRY

ADMIN_EMAIL
