.weatherContainer{
    
    margin-bottom: 1rem;
    margin-top: 1rem;
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.weatherContainer .weatherIcon{
    height: 50px;
}