.starComponent
{
    background-image: url("../image/stars.png");
    background-size: 1.25rem;
    min-width: 20px;
    min-height: 20px;
    position: absolute;
    animation-name: blink;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-direction: alternate;
    overflow: hidden;
    opacity: 0.0;
}

@keyframes blink
{
    from{opacity: 0.0;}
    to{opacity: 1.0;}
}