::-webkit-scrollbar {
    display: none;
}

a{
    text-decoration: none;
    color: white;
}

a:visited{
    color: none;
}

.fab-showing {
    float: right;
    position: fixed !important;
    bottom: 1rem;
    right: 1rem;
    transform: scale(0.0);
}