.navBar
{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    position: fixed;
    top: 0rem;
    min-width: 100%;
    z-index: 1;
    transition: 0.5s;
}

.navBar .navLogo
{
    color: DarkSlateBlue;
    font-family: LittleMiracles;
    font-size: 3rem;
    padding-left: 1rem;
}

.navBar li
{
    font-size: 0.75rem;
    margin: 1rem;
    padding: 0.5rem;
    color: DarkSlateBlue;
    background-color: White;
    list-style: none;
    display: inline;
    border: 0.12rem solid DarkSlateBlue;
    border-radius: 0.5rem;
}

.navBar li:hover
{
    color: White;
    background-color: DarkSlateBlue;
    border: 0.12rem solid White;
}

@font-face
{
    font-family: LittleMiracles;
    src: url("../fonts/LittleMiracles.ttf");
}