.statistics
{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: #FAFAFA;
}

.statistics table
{
    margin: 1rem;
    transition: 2s;
}

.data
{
    transition: 2s;
    animation: streching;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

.statistics table th
{

    position: relative;
    float: left;
    left: 1rem;
    
    padding: 0.5rem;

}

.statistics table th img
{
    float: left;
    margin-right: 0.5rem;
    max-height: 1.5rem;
    background-color: #263238;
}

.statistics table td
{
    padding: 2rem;
    text-align: center;
    color: #7E57C2;
    font-size: 1.5rem;
    letter-spacing: 0.5rem;
    border: 0.15rem solid #FAFAFA;
    border-radius: 0.5rem;;
}

.data-icon{
    margin-right: 0.5rem;
}

.fade-in{
    opacity: 1.0;
}

.fade-out{
    opacity: 0.0;
}

